<table
    border="0"
    cellpadding="0"
    cellspacing="0"
    role="presentation"
    style="
    margin: 0;
    padding: 0;
    max-width: 670px;
    width: 100%;
    font-family: 'Inter', Arial, sans-serif, Helvetica;
    margin-top: 30px;
    "
>
    <tr>
    <td>
        <table
        width="100%"
        border="0"
        cellpadding="0"
        cellspacing="0"
        role="presentation"
        style="margin-bottom: 12px; border-collapse: collapse"
        >
        <tr>
            <!-- Левый текст -->
            <td
            align="left"
            style="
                font-family: 'Inter', Arial, sans-serif;
                font-size: 16px;
                font-weight: 700;
                color: #000;
                vertical-align: middle;
            "
            >
            <%= tableName %>
            </td>
            <!-- Правый текст -->
            <td
            align="right"
            style="vertical-align: middle; white-space: nowrap"
            >
            <a
                href="https://macroglide.com"
                target="_blank"
                style="
                font-family: 'Inter', Arial, sans-serif;
                display: inline-block;
                font-size: 12px;
                line-height: 15px;
                font-weight: 400;
                color: rgba(0, 0, 0, 0.5);
                text-decoration: none;
                "
            >
                Detailed View →
            </a>
            </td>
        </tr>
        </table>
    </td>
    </tr>
    <!-- Линия -->
    <tr>
    <td>
        <table
        width="100%"
        border="0"
        cellpadding="0"
        cellspacing="0"
        role="presentation"
        >
        <tr>
            <td
            style="
                border-top: 1px solid #cccccc;
                font-size: 1px;
                line-height: 1px;
            "
            >
            &nbsp;
            </td>
        </tr>
        </table>
    </td>
    </tr>
    <!-- Таблицы -->
    <tr>
        <td>
            <table
                width="100%"
                border="0"
                cellpadding="0"
                cellspacing="0"
                role="presentation"
            >
            <tr>
                <td>
                <table 
                    width="100%"
                    border="0"
                    cellpadding="0"
                    cellspacing="0"
                    role="presentation"
                >
                    <% if (data && data.length > 0) { %>
                        <% data.forEach(function(indexData) { %>
                            <%- include(tableLine, {data: indexData}) %>
                        <% }); %>
                    <% } %>
                </table>
                </td>
            </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
                <tr>
                    <td align="left">
                    <span
                        style="
                        color: #6b7280;
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 30px;
                        "
                        ><%= headline %></span
                    >
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>